@import "tailwindcss";

@font-face {
  font-family: "shabnam";
  src: url("../assets/fonts/Shabnam-FD-WOL.ttf") format("woff");
}

* {
  font-family: "shabnam";
  direction: rtl;
  text-align: right;
}